@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

.Swiping {
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
}

.modal {
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF;
}

.a_match {
  color: black;
  font-size: 36px;
  font-style: italic;
  margin-bottom: 2.5vh;
}

.match_names {
  color: black;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 7vh;
  margin-top: 0;
}

.modal_images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 7vh;
}

.matchDogOnePicture {
  margin-left: 8.45vw;
  height: 38vw;
  width: 38vw;
  border-radius: 19vw;
  box-shadow: 0 4px 15px 0 rgb(197, 199, 211);
  border: none;
}

.matchDogTwoPicture {
  margin-right: 8.45vw;
  height: 38vw;
  width: 38vw;
  border-radius: 19vw;
  box-shadow: 0 4px 15px 0 rgb(197, 199, 211);
  border: none; 
}

.message_them_button {
    height: 60px;
    width: 85vw;
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 35px;
    border: none;
    margin-bottom: 5vh;
    background-color: #4014EC;
    box-shadow: 0 4px 16px 0 rgba(64,20,236,0.4), 0 4px 10px 0 rgba(0,0,0,0.1);
}

.keep_swiping {
    height: 60px;
    width: 85vw;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 35px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 15px 0 #DDE0EE;
}

.swiping_header {
  width: 100vw;
  height: 60px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid rgba(128, 128, 128, 0.250);
}

.to_profile {
  width: 30px;
  height: 30px;
  margin-top: 14px;
  margin-left: 8px;
}

.swiping_header_img {
  width: 145px;
  margin-top: 0px;
}

.to_matches {
  width: 30px;
  height: 30px;
  margin-top: 14px;
  margin-right: 8px;
}

.no_more_dogs {
  position: absolute;
  top: 21.5vh;
  right: 15vw;
  left: 15vw;
  margin: auto;
  width: 70vw;
  height: 70vw;
  background-color: #DDE0EE;
  border-radius: 35vw;
  z-index: -1;
}

.no_more_dogs_h4 {
  font-size: 4.4vw;
  margin-top: 44%;
}