@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

.Card {
    border-radius: 8px;
    width: 79vw;
    height: auto;
}

.mainPic {
    width: 100% !important;
}

.dislike_button1 {
    width: 90px !important;
    height: 90px !important;
    margin-top: 3.5%;
    padding-left: 10px;
}

.like_button1 {
    width: 90px !important;
    height: 90px !important;
    margin-top: 3.5%;
    padding-right: 10px;
}

.card_deets {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 2px solid rgba(128, 128, 128, 0.308);
    border-bottom: 2px solid rgba(128, 128, 128, 0.308);
}

.card_dogs_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.abc {
    font-family: ‘Montserrat’, sans-serif;
    margin-top: 1vh;
    min-height: 5vh !important;
    min-height: 10vh !important;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    border: none;
    resize: none;
 }