.editInfo1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 65px;
    grid-row-gap: 2vh;
    
}
.editInfo2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 65px;
    grid-row-gap: 2vh;
    
}
.image1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
   
    
    
}
.dogPics1{
    height: 95%;
    width: 80%;
    margin-top: 0px;
    border-radius: 7px;
    margin-left: 4vw;
}
.dogPics2{
    height: 91.8%;
    width: 70%;
    border-radius: 7px;
    margin-right: 8vw;
   
}
.dogPics3{
    height: 91.78%;
    width: 70%;
    border-radius: 7px;
    margin-right: 8vw;
    
}
.dogPics4{
    height: 85%;
    width: 70%;
    border-radius: 7px;
    margin-left: 8vw;
}
.dogPics5{
    height: 85%;
    width: 70%;
    border-radius: 7px;
    /* margin-right: 7vw; */
}
.dogPics6{
    height: 85%;
    width: 70%;
    border-radius: 7px;
    margin-right: 8vw;
    
}

.nameInput {
    grid-column-start: 1;
    grid-column-end: 3;
}
.breedInput {
    grid-column-start: 1;
    grid-column-end: 3;
}
.ageInput {
    grid-column-start: 1;
    grid-column-end: 3;
}
.genderInput {
    grid-column-start: 1;
    grid-column-end: 3;
}
