.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* .dogPics{
  height: 210px;
  width: 210px;
  border-radius: 50%;
  border: solid black 10px;
  padding: 5px;
} */
.imageUpload {
  position: relative;
}
.file-upload-container {
  height: 20px !important;
  width: 20px !important;
  background-color: black;
  color: white;
  border-radius: 50%;
  font-size: 15px;
  margin-left: -22px;
  margin-top: 48%;
  position: absolute;
  border: 2px solid white;

  

}
.file-upload-container2 {
  margin-left: -14vw;
   height: 20px !important;
  width: 20px !important; 
  background-color: black;
  color: white;
  border-radius: 50%;
  font-size: 15px;
  /* padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px; */
  
  margin-top: 9.5vh;

  border: 2px solid white;
  position: absolute;
} 
.file-upload-container3 {
  margin-right: 3vw;
   height: 20px !important;
  width: 20px !important; 
  background-color: black;
  color: white;
  border-radius: 50%;
  font-size: 15px;
  /* padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px; */
  margin-left: -22px;
  margin-top: 9.5vh;
  margin-right: 7vw;
  border: 2px solid white;
  position: absolute;
} 
/* .plusSign{
  margin-right: 5px;
} */