@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

.Settings {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #F2F4FC;
    font-family: 'Montserrat', sans-serif;
}

.settings_header {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 55px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.250);
    background: white;
    z-index: 10;
}

.back_arrow_svg {
    position: absolute;
    left: 7px;
    top: 7px;
    width: 40px;
    height: 40px;
}

.settings_header_h1 {
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    letter-spacing: .8px;
}

.my_location {
    margin-top: 6.5%;
    height: 9vh;
    background: #FFFFFF;
    margin-bottom: 6.5%;;;
}

.my_location_title {
    margin-top: 4.9%;
}

.radius {
    display: flex;
    background: #FFFFFF;
    height: 9vh;
    margin-bottom: 6.5%;;;
}

.radius_h2 {
    font-size: 15px;
    margin-top: 3vh;
    margin-left: 3%;
    width: auto;
    height: 3.5vh;
}

.male_or_female {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    margin-bottom: 6.5%;
    height: 9vh;
}

.male_or_female_label {
    font-size: 17px;
    margin-left: 3%;
}

.age_range {
    display: flex;
    background: #FFFFFF;
    height: 9vh;
    margin-bottom: 6.5%;;;
}

.age_range_h2 {
    font-size: 15px;
    margin-top: 3vh;
    margin-left: 3%;
    width: auto;
    height: 3.5vh;
    margin-right: 6%;
}

.reason {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    height: 9vh;
    margin-bottom: 6.5%;;
}

.reason_label {
    font-size: 17px;
    margin-left: 3%;
}

.delete_account_container {
    margin-top: 5%;
}

.delete_account_button {
    margin-bottom: 10%;
    height: 54px;
    width: 87vw;
    border: solid 3px #FF4553;
    font-family: 'Montserrat', sans-serif;
    font-size: 4.4vw;
    font-weight: 500;
    color: #FF4553;
    border-radius: 35px;
    background-color: #FFFFFF;
}

.radiusRange {
    position: absolute;
    right: 10%;
    color: #75798C;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: 0;
}

.ageRange {
    position: absolute;
    right: 8%;
    color: #75798C;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: -1.75%;
}

.agerange {
    position: absolute;
    right: 55%;
    color: #75798C;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: -2%;
}

