@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

.Settings {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #F2F4FC;
    font-family: 'Montserrat', sans-serif;
}

.settings_header {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 55px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.250);
    background: white;
    z-index: 10;
}

.back_arrow_svg {
    position: absolute;
    left: 7px;
    top: 7px;
    width: 40px;
    height: 40px;
}

.settings_header_h1 {
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    letter-spacing: .8px;
}

.my_location {
    margin-top: 6.5%;
    height: 9vh;
    background: #FFFFFF;
    margin-bottom: 6.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my_location_title {
    margin-top: 4.9%;
    margin-right: 4%;
    font-weight: 400;
    color: #75798C;
}

.radius {
    display: flex;
    background: #FFFFFF;
    height: 9vh;
    margin-bottom: 6.5%;;;
}

.radius_h2 {
    font-size: 15px;
    margin-top: 3vh;
    margin-left: 3%;
    width: auto;
    height: 3.5vh;
}

.male_or_female {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    margin-bottom: 6.5%;
    height: 6vh;
    justify-content: space-around;
    padding-top: 3vh;
    padding-right: 4%;
}

.interested_in {
    margin: auto;
    margin-bottom: 6%;
    font-size: 15px;
    margin-left: 3.5%;
}

.male_or_female_label {
    font-size: 14px;
    margin-left: 3%;
    color: #75798C;
}

input[type=radio] {
    display: none;
}

label {
    font-family: inherit;
}

input[type=radio] + label {
    background: url('https://lh3.googleusercontent.com/CSygHWUdWSpIIfoPv3gwc0PctzOTVFGSCcSel4lOtxBBofmpt1QJxOF8MwrXbi0lIxxnKw2Cj6btMFTJZIGxWpkNpHZL41cOa5sgeSgtlsmat7YjkQlrU2XbmhPrxZwElMf9hucSAfEgF0VRLQy58ATRdf1mQULv5VcfnWFyus03KF8Egtg_pwW1_LRnklFEAUUZ_TyzEqFM3cp6G_aDyQpNCKxNvoLWkrcV-tgxqxQGAqC45JAkWWNXSxKgXD8TINX_xO1oml6fh_qVC32SwSQZqkk8Mkhvi2V3DSME0BzcS7wlku5tUK9ijkksro3Wp9kS7Ng4kyPDpkhZAh0kaiKXe4vUXfpZhhXuVjMwaP04HmMFJ7tjKt7bKvIHo0LcKv1zbbQsJ5ZTbI9wRabnUk9dWZtKE0w9BwiNbHuw1JrJBzmSCon9aQZD2DCD72DZEgaUchpdWKi-jShqHvrhaUYUeOUQiImDmo9NBKocQIW76p69uns8tbm1XXohE6tc-PKj8Cx66YtZLm4oUsvppee7Sw92GBFNvMPP9BGZSvxZmpV6TV5rNga1JBJOCMKw76SuYRNob9jCPmjzVMYjmFN8GknmaqOti7kh-QP7IlTUleyq=w25-h24-no') left top no-repeat;
    display: block;
    min-height: 25px;
    padding-left: 35px;
}

input[type=radio]:checked + label {
    background: url('https://lh3.googleusercontent.com/QSVgoBuOonsWKUZm6m0NKwekEvkfMOWrPFfevisISZjzeu2uQkxMOY1MUh3QgorRu2qc1kwKX4So7-mGJ-hayMAitq15L63KQNBfsOcm1qmWDU657CNl4lauYhgVz7f59IMrZBg8FWdgh26VDCvGMwUqaK6CBVv13AdKbxDMeDqiZS73EgzF5kBW5smh1nxCY5Gqk8yCmDsYh4KixdZWKGW7BqXLZn7cB2fQV4-o0DePjN69GJLXmddJ6H32CBgiFKE4smBvb1ByWpREmRYpFEUaHuQdbhHiiebI4Kipz35I6OxsVxKC6HOIQC3Xk6JVePhgudB2_-8Nyq2M9rWqIap8kAhmN-FI8iRdSLXhTV4FEeTHqokQ0qEXEZ5N9dRKoXT3al1Alcwrson_OtaALHldR9O7BO6Iq5_BV7-ERpoSYD8wGGhCcWQbjKkz5qHTa8yWRAfZaCLnK8Dzs0DPJtgMjQirittz8cpQQxQM4fhzXvG2x_Dtev4Y1YcZbzsaU6FpamC188SkjEDGOjYnf6CTk0VVbPk1DXFPIEGbOmc7b1unsq7uHOOkuRkGnTQ_d8aLNNPpeDvxP4agpI-ycfdH2ciG4sRXSKcdeAXGIHhNaI9T=w25-h24-no') left top no-repeat;
}

.age_range {
    display: flex;
    background: #FFFFFF;
    height: 9vh;
    margin-bottom: 6.5%;;;
}

.age_range_h2 {
    font-size: 15px;
    margin-top: 3vh;
    margin-left: 3%;
    width: auto;
    height: 3.5vh;
    margin-right: 6%;
}

.reason {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    height: 6vh;
    margin-bottom: 6.5%;;
    padding-top: 3vh;
    padding-right: 4%;
}

.reason_for {
    margin: auto;
    margin-bottom: 6%;
    font-size: 15px;
    margin-left: 3.5%;
}

.reason_label {
    font-size: 14px;
    margin-left: 3%;
    color: #75798C;
}

.delete_account_container {
    margin-top: 5%;
}

.delete_account_button {
    margin-bottom: 10%;
    height: 54px;
    width: 87vw;
    border: solid 3px #FF4553;
    font-family: 'Montserrat', sans-serif;
    font-size: 4.4vw;
    font-weight: 500;
    color: #FF4553;
    border-radius: 35px;
    background-color: #FFFFFF;
}

.radiusRange {
    position: absolute;
    right: 10%;
    color: #75798C;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: 0;
}

.ageRange {
    position: absolute;
    right: 8%;
    color: #75798C;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: -1.75%;
}

.agerange {
    position: absolute;
    right: 55%;
    color: #75798C;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: -2%;
}

.placeholder_svg {
    width: 17px;
    height: 17px;
}

.location_h1 {
    font-size: 15px;
    margin-top: 5.3%;
    margin-left: 3%;
}